<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Add new post</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h2>Add new post:</h2>
      <form th:action="@{/addPost}"
         th:object="${blogPostForm}" method="POST">
         Post text (maximum 960 signs):
         <br/>
         <textarea name="postText" th:field="*{postText}"
                   maxlength="960" cols ="80" rows="12" autofocus required></textarea>
         <br/>
         <input type="submit" value="Add post"/>
      </form>
      <br/>
      <a href="index">Home</a>
   </body>
</html>