<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Add new post</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h2>Add new post:</h2>
      <form th:action="@{/addNewPost}"
         th:object="${personForm}" method="POST">
         Post text (maximum 960 signs):
		 </br>
		 <!--
         <input type="text" th:field="*{postText}" />   
			-->
		<textarea autofocus name="postText" maxlength="960" cols ="80" rows="12">
		</textarea>
         <br/>
         <input type="submit" value="Add post" />
      </form>
      <br/>
      <div th:if="${errorMessage}" th:utext="${errorMessage}"
         style="color:red;font-style:italic;">
         ...
      </div>
     	  <a href="index">Home</a>
   </body>
</html>