<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Show all posts</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h2>All posts in blog:</h2>
      
      <br/><br/>
      <div>
         <table border="1">
            <tr>
               <th>Date</th>
               <th>Post text</th>
               <th>Action</th>
            </tr>
            <tr th:each ="post : ${allBlogPosts}">
                <td th:utext="${post.postDate}">...</td>
                <td th:utext="${post.postText}">...</td>
                <td>
                <form th:action = "@{/selectedPost}"
                    th:object="${post}" method = "POST">
                <!--    <input type="hidden" th:field="${id}" /> -->
                <button type="submit">Select</button>
                </form>
                </td>
            </tr>
         </table>
      </div>
      <a href="index">Home</a>
   </body>
</html>