<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Show sorted posts</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h2>Posts sorted by date:</h2>
      
      <br/><br/>
      <div>
         <table border="1">
            <tr>
               <th>Date</th>
               <th>Post text</th>
            </tr>
            <tr th:each ="post : ${blogPosts}">
               <td th:utext="${post.postDate}">...</td>
               <td th:utext="${post.postText}">...</td>
            </tr>
         </table>
      </div>
	  <a href="index">Home</a>
   </body>
</html>