<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Update post</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
    <h2>Update post:</h2>
    Date:
    <p th:utext="${blogPostForm.postDate}">...</p>
    <br/>
    <form th:action="@{/update}"
         th:object="${blogPostForm}">
         Post text (maximum 960 signs):
         <br/>
        <textarea name="postText" th:field="*{postText}"
                  maxlength="960" cols ="80" rows="12"
                  autofocus required
        value="${postText}"></textarea>
        <br/>
        <input type="hidden" datatype="number" name="id" th:value="${blogPostForm.id}"/>
        <br/>
        <button type="submit">Update</button>
      </form>

      <br/>
      <a href="index">Home</a>

   </body>
</html>