<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Update post</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
	<h2>Update post:</h2>
	<form th:action="@{/updatePost}"
         th:object="${blogPostForm}" method="POST">
		 Date:
		 <td th:utext="${post.postDate}">...</td>
		 <br/>
         Post text (maximum 960 signs):
		 <br/>
		<textarea th:field="*{postText}" maxlength="960" cols ="80" rows="12" autofocus required></textarea>
		<br/>
         <input type="submit" value="Update post"/>
      </form>
      <br/>
      <a href="index">Home</a>

   </body>
    
</html>